<ion-view cache-view="false" view-title="{{'WhiteLabels_List' | translate}}" hide-back-button="true">
  <ion-content class="whitelabel-offer-list ">

      <info-header-cmp info-text="headerInfoText"></info-header-cmp>
      <div class="list state-container">
          <div ng-repeat="item in providerPriceOffersList | orderBy : price : true" class="offers-list" ng-show="!isSelected" >


              <div class="item item-input panel item-floating-label offer-item" style="color:#298ea3;border-radius: 30px;padding: 0;" ng-click="setSelectedOffer(item);">
                  <span class="input-label has-input">{{item.name|translate}}</span>
                  <div class="row" style="min-height: 45px;max-height: 45px;">
                      <div class="col-33 " style="width:55%;vertical-align: middle;  margin: auto;   ">
                          <img ng-show="item.logo" style="width: 100%;height: 100%;max-height: 35px;" ng-src="img/{{item.logo}}">
                          <span ng-show="!item.logo" class="inner" ng-switch="reservationType">
                              <span ng-switch-when="1"><img style="width: 100%;height: 100%;max-height: 35px;" src="../www/img/ambulance.svg" /></span>
                              <span ng-switch-when="2"><img style="width: 100%;height: 100%;max-height: 35px;" src="../www/img/doctor.svg" /></span>
                              <span ng-switch-when="3"><img style="width: 100%;height: 100%;max-height: 35px;" src="../www/img/stairs.svg" /></span>
                          </span>
                      </div>
                      <div class="col-33 text-center" style="vertical-align: middle;text-align:center;    margin: auto;    color: #263650;">
                          &#8362;{{item.price}}
                      </div>
                      <div class="col-30 text-center"   style="margin: auto;color:white;">
                          {{'Reserve' | translate }}
                      </div>
                  </div>
              </div>
             </div>
          
          <div ng-show="isSelected && showTyp">
              <div class="row" >
                  <div class="col-100">
                      <div>
                          <div   class="item item-input panel item-floating-label " style="color:black;border-radius: 30px;max-height: 45px;padding: 0;">
                              <span class="input-label has-input">{{item.name|translate}}</span>
                              <div class="row" style="min-height: 45px;max-height: 45px;">
                                  <div class="col-33 " style="width:55%;vertical-align: middle;  margin: auto;   ">
                                      <img style="width: 100%;height: 100%;max-height: 35px;" ng-src="img/{{whiteLabelOffer.logo}}">
                                  </div>
                                  <div class="col-33 text-center" style="vertical-align: middle;text-align:center;    margin: auto;">
                                     {{whiteLabelOffer.name}}
                                  </div>
                                  <div class="col-33 text-center" ng-click="setSelectedOffer(item);" style="margin: auto;padding-right:11%">
                                      &#8362;{{whiteLabelOffer.price}}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-80"  style="background-color:#263650;margin:auto;text-align:center;padding:10px;color:white;font:bold;    border-radius: 0 0 30px 30px;border-radius: 0 0 30px 30px;">
                      <div ng-show="showTyp">
                          <div style="margin-top: 10px;">
                              <span style="color:white"> {{'Reservation_Completed' | translate }}</span>
                              <br />
                              <h3 style="color:white;margin-top:0"> {{'Wish_You_Success' | translate }}</h3>
                          </div>
                     
                          <div style="text-align:right;margin-bottom: 15px;">
                              <span>{{'Reservation_Number' | translate }}</span>
                              <br />
                              <span style="font-weight: bold;color: #56cbff!important;font-size: 150%;">{{Reservation.Reservation_Number}}</span>
                          </div>

                          <div style="text-align:right;margin-bottom: 5px;">
                              <span>{{'Waiting_for_Provider_Answer' | translate }}</span>
                          </div>
                          <div class="middle-btn">
                              <div class="">
                                  <a ui-sref="app.reservation-list" class="popup-btn button  m-btn " style="padding: 2%;">
                                      <span class="" style="font-weight: bold;">{{'Go_To_Reservation_List' | translate}}</span>
                                  </a>
                                  <!--<button class="popup-btn button  m-btn button" ng-click="myPopup.close();">{{'Go_To_Reservation_List' | translate}}</button>-->
                              </div>
                          </div>
                       
                          <div style="margin-top: 60px;margin-bottom: 10px;">
                              <div style="color:white;margin-top:0;    margin-bottom: 3px;">{{'Thank_You_For_Reservation' | translate }}</div>
                              <img src="../www/img/general-logo.png" class="info-green-svg" style="width: 38%;height: 66px;vertical-align: top;" />
                          </div>
                         
                      </div>
    

                  </div>
              </div>
          </div>
          </div>

      <div ng-show="noProviderFound" style="text-align:center;">
          {{"No_Provider_Found" | translate}}<br />
          {{"Please_Try_Again_Later" | translate}}
      </div>
             
</ion-content>
</ion-view>
