  .wl-registration .col-lg-4 {
        padding: 0;
    }



    .wl-registration .input-underline {
        padding-left: 50px;
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #848484;
        color: #848484;
        border-radius: 0;
    }

        .wl-registration .input-underline:focus {
            border-bottom: 2px solid #848484;
            box-shadow: none;
        }

    .wl-registration .rounded-btn {
        border-radius: 50px;
        color: rgba(255, 255, 255, 0.8);
        background: #263650;
        border: 2px solid rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
        width: 50%;
    }

        .wl-registration .rounded-btn:hover, .wl-registration .rounded-btn:focus, .wl-registration .rounded-btn:active, .wl-registration .rounded-btn:visited {
            color: white;
            border: 2px solid white;
            outline: none;
        }

    .wl-registration h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
    }

        .wl-registration h1 small {
            color: rgba(255, 255, 255, 0.7);
        }

    .wl-registration .form-group {
        padding: 8px 0;
        padding-bottom:0px;
    }

    .wl-registration .items .item-header {
    background-color: #54a6de;
    color: white;
    min-height: 40px;
}
    .color-blue{
        color: #57cbff;
    }

    .inputs input{

    box-shadow: none!important;

    }

    .wl-registration .form-group{
        margin:0!important;
    }

.wl-registration .btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

.wl-registration .terms{
    margin-top: 15px;
}

.wl-registration .terms .checkbox label{
        padding: 0px 2px;
}

.wl-registration .terms .checkbox label input{
        opacity:0!important;
        display:none;
}
.wl-registration .input-lg{
        padding: 10px 5px!important;
}

.wl-registration .blue-btn{
        background-color: transparent!important;
    border-color: #54a6de;
    color: #54a6de;
    border-radius: 40px;
    font-size: x-large;
}
.wl-registration .input-container{
    height:80px!important;
}

.wl-registration .err-msg{
    color:red;
    white-space:nowrap!important;
}
.wl-registration .checkbox, .radio{
    margin-bottom:0px;
    margin-top:0px;
}

.wl-registration .checkbox-container{
    height:40px
}