.sidebar .cat-img{
    width:15%;
}
.sidebar .li-text{
    color:white;
}

.nav>li.active>a {

    background-color: #697284 !important;
}

.nav>li>a:hover{
    cursor:pointer;
      background-color: #697284 !important;
}
.sidebar{
    margin-top: 0!important;
        position: fixed;
    top: 0;
}
.sidebar .general-logo{
        width: 75%;
    display: block;
    margin: auto;
    padding: 9%;
}