################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/getAmbulance.Client.App/getAmbulanceApp/plugins
