<ion-view view-title="{{'Reservations_Item' | translate}}">
    <ion-content class="reservation-item">
        <div class="row reservation-status">
            <div class="col text-center" ng-class="{'pending-color':selectedReservation.Status=='1','accepted-color':selectedReservation.Status=='2','ignored-color':selectedReservation.Status=='3'}" >
 
                {{'Reservation_Status' | translate}} :
                <span ng-switch="selectedReservation.Status">
                    <span ng-switch-when="1">{{'Reservation_Pending' | translate}}</span>
                    <span  ng-switch-when="2">{{'Reservation_Accepted' | translate}}</span>
                    <span  ng-switch-when="3">{{'Reservation_Ignored' | translate}}</span>   
                </span>
            </div>
        </div>
        <div class="row icon-row">
            <div class="col">

                <form class="reservation-form" name="Step1Form">

                    <div class="list">

                        <label class="item item-input panel item-floating-label">
                            <span class="input-label">{{'Provider_Name'|translate}} :</span>
                            <input type="text" name="Provider_Name" ng-model="itemForm.Provider_Name" disabled>
                        </label>
                     
                        <label class="item item-input panel item-floating-label">
                            <span class="input-label">{{'Provider_Phone_Number'|translate}} :</span>
                            <input type="text" name="Provider_Phone_Number" ng-model="itemForm.Provider_Phone_Number" disabled>
                        </label>
                   
                            <label class="item item-input panel item-floating-label col-45  date-time">
                                <span class="input-label">{{'Date'|translate}} :</span>
                                <input style="text-align:center" placeholder="{{'Date'|translate}}" type="text" disabled name="Date" ng-model="itemForm.Date">
                            </label>
                            <label class="item item-input panel item-floating-label col-45  date-time">
                                <span class="input-label">{{'Time'|translate}} :</span>
                                <input style="text-align:center" placeholder="{{'Time'|translate}}" type="text" disabled name="Time" ng-model="itemForm.Time">
                            </label>
                     
                    </div>
  
                    <button ng-click="backToReservationsList()" class="button button-full next-btn button-positive">
                        <span class="">{{'Back' | translate}}</span>
                    </button>

                </form>
            </div>

        </div>
    </ion-content>
</ion-view>
