<ion-view cache-view="false" view-title="{{'Reservation' | translate}}">
    <ion-content class="reservation-item">
        <info-header-cmp info-text="headerInfoText"></info-header-cmp>

        <div class="reservation-status">
            <button ng-show="selectedReservation.Status=='3'" style="border-radius: 25px 25px 0 0!important;    width: 100%!important;" ng-click="chooseOtherProvider()" class="button button-full next-btn button-positive reservation-status-btn">{{'Choose_Another_Provider' | translate}}</button>

            <div class="row ">
                <div class="cont">
                    <div class="reservation-details">
                        <div class="row ">
                            <div class="col-40 details-title margin-auto">
                                {{'Reservation_Details' | translate}}
                                <div class="solid-border-bottom-30">
                                </div>
                            </div>
                            <div class="col-60 details-title">
                                <div class="row">
                                    <div class="col-20 col-container text-center" style="">
                                        <span ng-switch="selectedReservation.Status">
                                            <span ng-switch-when="1"><img src="../www/img/pending-icon.png" class="status-icon" /></span>
                                            <span ng-switch-when="2"><img src="../www/img/accepted-icon.png" class="status-icon" /></span>
                                            <span ng-switch-when="3"><img src="../www/img/ignored-icon.png" class="status-icon" /></span>
                                        </span>
                                    </div>
                                    <div class="col-90 margin-auto" ng-class="{'pending-color':selectedReservation.Status=='1','accepted-color':selectedReservation.Status=='2','ignored-color':selectedReservation.Status=='3'}">
                                        {{'The_Reservation' | translate}} <span ng-switch="selectedReservation.Status">
                                            <span ng-switch-when="1">{{'Reservation_Pending' | translate}}</span>
                                            <span ng-switch-when="2">{{'Reservation_Accepted' | translate}}</span>
                                            <span ng-switch-when="3">{{'Reservation_Ignored' | translate}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="details-container">

                            <div ng-show="selectedReservation.Type" class="row">
                                <div class="col-50 key">
                                    <span class="">{{'Reservation_Type'|translate}}</span>
                                </div>
                                <div class="col-50 value">
                                    <span ng-switch="selectedReservation.Type">
                                        <span ng-switch-when="1">{{'Short_Ambulance_Reservation' | translate}}</span>
                                        <span ng-switch-when="2">{{'Short_Medical_Therapist_Reservation' | translate}}</span>
                                        <span ng-switch-when="3">{{'Short_Stairs_Assistance_Reservation' | translate}}</span>
                                    </span>
                                    <div>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="selectedReservation.Reservation_Number" class="row">
                                <div class="col-50 key">
                                    <span class="">{{'Reservations_Num'|translate}}</span>
                                </div>
                                <div class="col-50 value">
                                    <span class=""> {{selectedReservation.Reservation_Number}}</span><div>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="selectedReservation.Price" class="row">
                                <div class="col-50 key">
                                    <span class="">{{'Price'|translate}}</span>
                                </div>
                                <div class="col-50 value">
                                    <span class="">  &#8362;{{selectedReservation.Price}}</span><div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="itemForm.Date" class="row">
                                <div class="col-50 key">
                                    <span class="">{{'Date'|translate}}</span>
                                </div>
                                <div class="col-50 value">
                                    <span class=""> {{itemForm.Date | date : "dd/MM/y"}}</span><div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="itemForm.Time" class="row">
                                <div class="col-50 key">
                                    <span class="">{{'Time'|translate}}</span>
                                </div>
                                <div class="col-50 value">
                                    <span class=""> {{itemForm.Time}}</span><div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="itemForm.From_Address" class="row">
                                <div class="col-50 key">
                                    <span class="">{{'From_Address'|translate}}</span>
                                </div>
                                <div class="col-50 value">
                                    <span class=""> {{itemForm.From_Address}}</span><div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="itemForm.To_Address" class="row">
                                <div class="col-50 key">
                                    <span class="">{{'To_Address'|translate}}</span>
                                </div>
                                <div class="col-50 value">
                                    <span class=""> {{itemForm.To_Address}}</span><div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="itemForm.Ambulance_Type" class="row">
                                <div class="col-50 key">
                                    <span class="">{{'Ambulance_Type'|translate}}</span>
                                </div>
                                <div class="col-50 value">
                                    <span class=""> {{itemForm.Ambulance_Type | translate }}</span><div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: -9px;" ng-switch="selectedReservation.Type">
                                <div ng-switch-when="1">
                                    <div ng-show="itemForm.Direction_Type" class="row">
                                        <div class="col-50 key">
                                            <span class="">{{'Direction_Type'|translate}}</span>
                                        </div>
                                        <div class="col-50 value">
                                            <span class=""> {{itemForm.Direction_Type | translate }}</span><div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="2">

                                    <div ng-show="itemForm.Meeting_Address" class="row">
                                        <div class="col-50 key">
                                            <span class="">{{'Meeting_Address'|translate}}</span>
                                        </div>
                                        <div class="col-50 value">
                                            <span class=""> {{itemForm.Meeting_Address | translate }}</span><div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="itemForm.Service_Options" class="row">
                                        <div class="col-50 key">
                                            <span class="">{{'Service_Options'|translate}}</span>
                                        </div>
                                        <div class="col-80 value">
                                            <div ng-repeat="serviceItem in itemForm.Service_Options" class="">- {{serviceItem._name| translate }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="3">
                                    <div ng-show="itemForm.Meeting_Address" class="row">
                                        <div class="col-50 key">
                                            <span class="">{{'Meeting_Address'|translate}}</span>
                                        </div>
                                        <div class="col-50 value">
                                            <span class=""> {{itemForm.Meeting_Address | translate }}</span><div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="itemForm.Stairs_Assistance_Options" class="row">
                                        <div class="col-50 key">
                                            <span class="">{{'Stairs_Assistance_Options'|translate}}</span>
                                        </div>
                                        <div class="col-50 value">
                                            <span class=""> {{itemForm.Stairs_Assistance_Options | translate }}</span><div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="provider-details">
                        <!--<div class="row">
                            <div class="col-100 details-title">
                                {{'Provider_Details' | translate}}
                                <div class="solid-border-bottom-30">
                                </div>
                            </div>
                        </div>-->
                        <div class="row ">
                            <div class="col-40 details-title margin-auto">
                                {{'Provider_Details' | translate}}
                                <div class="solid-border-bottom-30">
                                </div>
                            </div>
                            <div class="col-60 details-title">
                                <div class="row">
                                    <div class="col-20 col-container text-center" style="">
                                    </div>
                                    <div class="col-80 margin-auto" ng-class="{'pending-color':selectedReservation.Status=='1','accepted-color':selectedReservation.Status=='2','ignored-color':selectedReservation.Status=='3'}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="details-container">
                            <div class="row">
                                <div class="col-50 key">
                                    <span class="">{{'Name'|translate}}</span>
                                </div>
                                <div class="col-50 value">
                                    <span class=""> {{itemForm.Provider_Name}}</span><div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-50 key">
                                    <span class="">{{'tel'|translate}}</span>
                                </div>
                                <div class="col-50 value">
                                    <span class="">
                                        <a href="tel:{{itemForm.Provider_Phone_Number}}"> {{itemForm.Provider_Phone_Number}}</a>
                                    </span><div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        <button ng-click="backToReservationsList()" class="button button-full next-btn button-positive reservation-status-btn">
            <span class="">{{'Back' | translate}}</span>
        </button>
    </ion-content>
</ion-view>
