<div style="height: 100%;width: 100%;">


    <!--<supported-area-cmp area-data="areaData"></supported-area-cmp>
    <button ng-click="UpdateSupportedAreas()">{{'Add_Supported_Area' | translate}} </button>-->

    <div class="inner-wrapper row">
            <div class="col-lg-12">
                <h4 class="page-header">{{'ICU_Ambulance_Prices' | translate}}</h4>
            </div>
        <div class="col-lg-12">
            <distance-price-cmp service-type="4"></distance-price-cmp>
        </div>
       
    </div>
 

</div>
