<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;position: fixed;display: block;left: 0;right: 0;top: 0;">
    <!--<div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
       
    </div>-->
    <div class="nav-header">

        <div class="">
            <img ng-show="$ctrl.whiteLabel.logo" class="img-container" style="" src="../img/{{$ctrl.whiteLabel.logo}}" />
            <div ng-show="!$ctrl.whiteLabel.logo" class="img-container white-color" style="padding: 15px 0px;white-space:nowrap">{{$ctrl.whiteLabel.name}}</div>
        </div>
        <div class="toggle-div">
        </div>



        <div class="log-out">
            <div ng-click="$ctrl.logOut()" class="log-out-icon"><span class="glyphicon glyphicon-off "></span><span>  {{'יציאה' | translate }}</span></div>
        </div>

    </div>
    <!--<div class="row hidden-xs">


        <div class="col-md-3">
            <button ng-click="$ctrl.updateWhiteLabelIsOnline(true)" class="btn btn-success">{{'זמין' | translate }}</button>
        </div>

        <div class="col-md-3">
            <button ng-click="$ctrl.updateWhiteLabelIsOnline(false)" class="btn btn-danger">{{'לא זמין' | translate }}</button>
        </div>

        <div class="col-md-3">
            <div ng-click="$ctrl.logOut()" class="log-out-icon"><span class="glyphicon glyphicon-off "></span><span>  {{'יציאה' | translate }}</span></div>
        </div>
        <div class="col-lg-3">
            <img class="cat-img" style="width:10%" src="../img/general-logo.png" />
        </div>
    </div>-->
    <!-- /.navbar-header -->
    <!--<header-notification></header-notification>-->
    <sidebar class="hidden-xs"></sidebar>
</nav>
