.log-out-icon{
    float:left;
    padding: 15px 42px;
    cursor:pointer;
}
.nav-header{

    display: flex;
    margin-right: 250px;
}
.nav-header span{
    color:white;
}
.nav-header .log-out{
 
    left: 0;
}
.nav-header .toggle-div{
    margin:auto;
}
.nav-header .img-container{
       width: 50%;
    float: left;
}
@media screen and (max-width: 800px) {
    .nav-header {
         margin-right: 15px!important;
    }
  
}