
<ion-view view-title="{{'Medical_Therapist_Reservation' | translate}}">

    <ion-content>

        <info-header-cmp info-text="headerInfoText"></info-header-cmp>
        <form class="reservation-form" name="Step2Form" novalidate="" >

            <div class="list">
             
                <label class="item item-input panel item-floating-label">
                    <span class="input-label">{{'Meeting_Address'|translate}} </span>
                    <input  g-places-autocomplete options="autocompleteOptions" ng-model-options="{debounce: 100}"  placeholder="{{'Meeting_Address'|translate}}" type="text" name="Meeting_Address" ng-model="form.Meeting_Address" message-id="Meeting_Address" valid-method="submit" validator="required" required-error-message="{{'Insert'|translate}} {{'Meeting_Address'|translate}}">
                </label>
                <span id="Meeting_Address"></span>
           
                <label class="item item-input panel item-floating-label  col-45" ng-class="{'input-container':Step2Form.Therapist_Stayig_Time.$modelValue!=null}">
                    <span class="input-label">{{'Therapist_Stayig_Time'|translate}} </span>
                    <input class="dir-ltr" style="padding-left: 15%;" placeholder="{{'Therapist_Stayig_Time'|translate}}" type="number" name="Therapist_Stayig_Time"  ng-model="form.Therapist_Stayig_Time" message-id="Therapist_Stayig_Time" valid-method="blur" validator="required" required-error-message="{{'Insert'|translate}} {{'Therapist_Stayig_Time'|translate}}">
                </label>
                <span id="Therapist_Stayig_Time"></span>
                
                <label class="item item-input panel item-floating-label select-style">
                    <span class="input-label"  ng-class="{'has-input': Step2Form.Weight.$dirty}">{{'Weight'|translate}} ({{'KG' | translate}})</span>
                    <select data-tap-disabled="{{isMobileBrowser}}" class="" name="Weight" ng-model="form.Weight" message-id="Weight" valid-method="blur" validator="required" required-error-message="{{'Insert'|translate}} {{'Weight'|translate}}">
                        <option value="" hidden selected>{{'Weight'|translate}} ({{'KG' | translate}})</option>
                        <option value="90">{{'till'|translate}} 90</option>
                        <option value="121">91-121</option>
                        <option value="122">{{'From_And_More'|translate}} 121 {{'And_More'|translate}}</option>
                    </select>
                </label>
                <span id="Weight"></span>
                <date-time-cmp date="form.Date" time="form.Time"></date-time-cmp>
                         </div>
            
            <button validation-submit="Step2Form" ng-click="continueToStep3()" class="button button-full next-btn button-positive">
                <span class="">{{'Continue' | translate}}</span>
            </button>
        </form>
    </ion-content>
</ion-view>
