<ion-view  view-title="דף הבית">
    <ion-content class="home">

        <div class="row width-100">
            <div class="col img-container">
                <div class="  text-center">
                    <img src="../www/img/LOGO-1.5-BG3.svg" class="home-img" />

                </div>
                </div>
            </div>
        <div class="row">
            <div class="col">

                <span><h3 style="color:gray">ברוכים הבאים לגיט אמבולנס</h3></span>
            </div>

        </div>

        <div class="row info">
            <div class="col-20">
                <img src="../www/img/info-green.svg" class="info-green-svg" style="width:100%" />
            </div>
            <div class="col-80" style="padding: 7px;color:darkturquoise">
                ניתן להזמין אמבולנס פרטי בזמן שתרצה ומלווה לכל מטרה שתרצה וגם להזמין עזרה בהעלאה והורדה במדרגות ולחצן מצוקה
            </div>
        </div>

        <div class="row panel cat" ng-click="goToReservationForm(1)" >
            <img class="col-20 cat-img" style="" src="../www/img/ambulance.svg" /><div class="col-80 txt">הזמנת אמבולנס פרטי</div>
        </div>

        <div class="row panel cat"  ng-click="goToReservationForm(2)" >
            <img class="col-20 cat-img" style="" src="../www/img/doctor.svg" /><div class="col-80 txt">הזמנת מלווה</div>
        </div>

        <div class="row panel cat" ng-click="goToReservationForm(4)" >
            <img class="col-20 cat-img" style="" src="../www/img/smartphone.svg" /><div class="col-80 txt">לחצן מצוקה</div>
        </div>

        <div class="row panel cat" ng-click="goToReservationForm(3)">
            <img class="col-20 cat-img" style="" src="../www/img/stairs.svg" /><div class="col-80 txt">העלאה / הורדה במדרגות</div>
        </div>
  
        <!--<div class="fhm_container">
            <div class="fhm_row">
                <div class="fhm_item therapist-assistant-fhm">
                    <span ng-click="goToReservationForm('2')"> <i class="fa fa-user-md fa-5x"></i></span>
              </div>
                <div  class="fhm_item get-ambulance-fhm">
                    <span ng-click="goToReservationForm('1')"><i class="fa fa-ambulance fa-5x"></i></span>
                </div>

            </div>
            <div class="fhm_row">
                <div class="fhm_item stairs-assistant-fhm">
                    <span ng-click="goToReservationForm('3')">   <i class="fa fa-wheelchair fa-5x"></i></span>
            </div>
                <div class="fhm_item general-assistant-fhm">
                    <span ng-click="goToReservationForm('4')"> <i class="fa fa-heartbeat fa-5x"></i></span>
          </div>
            </div>

        </div>-->
    </ion-content>
</ion-view>
