<ion-view  view-title="דף הבית"  hide-back-button="true">
    <ion-content class="home"  scroll="false">

        <div class="row width-100">
            <div class="col img-container">
                <div class="text-center">
                    <img src="../www/img/general-logo.png" class="home-img" />

                </div>
                </div>
            </div>
        <div class="row">
            <div class="col text-center">

                <h3 style="color:#e74e4e;font-weight: bold;margin-top: 2%;    margin-bottom: 0;">{{ 'Home_Welcome_Text' | translate }}</h3>
            </div>

        </div>

        <div class="row info " style="padding-right: 18px;padding-left: 18px;">

            <div class="col-10" >
                <img src="../www/img/info-green.svg" class="info-green-svg" style="width:108%;height: 100%;" />
            </div>
            <div class="col-70" style="padding: 7px;color:#2273aa;line-height: 1.1;">
                ניתן להזמין אמבולנס פרטי בזמן שתרצה ומלווה לכל מטרה שתרצה וגם להזמין עזרה בהעלאה והורדה במדרגות ולחצן מצוקה
            </div>
            <div class="col-10">
            </div>
        </div>
        <section class="cat-list-container">


            <div class="row panel cat" ng-click="goToReservationForm(1)" style="margin-top: 3%!important;">
                <div class="col-20">
                    <img class="cat-img" style="" src="../www/img/ambulance.svg" />
                </div>
                <div class="col-80 txt">{{'Ambulance_Reservation' | translate}} </div>
            </div>

            <div class="row panel cat" ng-click="goToReservationForm(2)">
                <img class="col-20 cat-img" style="" src="../www/img/doctor.svg" /><div class="col-80 txt">{{'Medical_Therapist_Reservation' | translate}}</div>
            </div>

            <div class="row panel cat">
                <img class="col-20 cat-img" style="" src="../www/img/smartphone.svg" /><div class="col-80 txt">{{'Emergency_Button' | translate}}</div>
            </div>

            <div class="row panel cat" ng-click="goToReservationForm(3)">
                <img class="col-20 cat-img" style="" src="../www/img/stairs.svg" /><div class="col-80 txt">{{'Stairs_Assistance_Reservation' | translate}}</div>
            </div>

            <div class="row panel cat" >
                <img class="col-20 cat-img" style="" src="../www/img/trofot.svg" /><div class="col-80 txt">{{'Trofot' | translate}}</div>
            </div>
        </section>
        <div class="row">
            <div class="col-100 copy-rights text-center">
                Patent Pending  &#169;  Get Ambulance 2016
            </div>
        </div>
    </ion-content>
</ion-view>
