.home .info .info-green-svg{
    fill:lightgreen;
}

.home{
   
}

.home .panel{
     font-size:calc(0.75em + 2vmin);
        background-color: #f7fbfc;
    border: 1px solid transparent;
    border-radius: 4px;
    /*-webkit-box-shadow: 1px 5px 5px rgba(0,0,0,0.2);
    box-shadow: 1px 5px 5px rgba(0,0,0,0.2);*/
   position:relative;
}

.home .row{
    width:unset;
}

.home .cat{
   
}

.home .cat .col-20{
height: 80%;
    margin: auto;
    text-align: center;
}


.home .cat-img{
        height: 100%;
      margin-top: 5px;
        text-align:center;
            width: 80%;
}

.home .cat .txt{
    border-top:solid #57cbff 1px;
	font-weight : bold;
	color : #57cbff;
        
}

.side_menu_header{
    background-color:#263650!important;
}
.item-complex .item-content, .item-radio .item-content{
        background-color: #263650;
        color:white;
}

aside ion-item{
     background-color: #263650!important;
        color:white!important;
        
}

aside ion-item a{
        padding-right: 15px!important;
}

ion-side-menu { 
     background-color: #263650!important;
        color:white!important;
}


.home .img-container{
       background-color: #263650;
}
.home .home-img{
    width:125px;
        margin: 0px;
}

.cat-list-container{
   
    margin-bottom:5px;
}
.copy-rights{
    color:#9b9c9d;
}
.home .soon-img{
    margin-top: -65%;
    display: block;
    margin-bottom: 12%;
    padding: 4%;
  
}

.platform-ios .home .soon-img{
     margin-bottom: 15%!important;
    width:100%
}

.ltr .home .cat-img{
    height: unset;
}
.ltr .patent-row{
    bottom: 5%;
    position: absolute;
    width: 100%;
}