/* Space out content a bit */
body {
    padding-bottom: 20px;
    direction: rtl;
    font-family: Tahoma !important;
    background-color: #e5ebf7 !important;
}

.navbar-header {
    float: right;
}

.navbar-brand {
    padding: 15px 15px;
}

.nav {
    padding-right: 0;
}

#page-wrapper {
    background-color: #e5ebf7 !important;
}

    #page-wrapper .inner-wrapper {
        background-color: #f2f6fc;
    }
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
    /* Make the masthead heading the same height as the navigation */
    .header h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

    .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

    .marketing p + h4 {
        margin-top: 28px;
    }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.nav > li.active > a {
    text-decoration: none;
    background-color: #eee;
}




/*.navbar-default{
      border:none!important;
  }*/

.min-height-40 {
    min-height: 40px;
}

.items-align-center {
    display: flex;
    align-items: center;
}

.pending-color {
    color: #efad4d!important;
}

.ignored-color {
    color: #e84e4e!important;
}

.accepted-color {
    color: #6ab66b!important;
}
.done-color {
    color: #54a6de!important;
}

.btn:focus, .btn:hover, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    color: white;
}

.inner-div {
    background-color: #f2f6fc;
}

.green-btn {
    background-color: #57c059;
    color: white;
    border-radius: 40px;
    margin: 8px;
    width: 100%;
}
.blue-btn {
    background-color: #54a6de;
    color: white;
    border-radius: 40px;
    margin: 8px;
    width: 100%;
}
.red-btn {
    background-color: #f45b63;
    color: white;
    border-radius: 40px;
    margin: 8px;
    width: 100%;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
    width:35%!important
}

.inner-div .div-head-blue{
    background-color:#54a6de!important;
    color:white;
    min-height:40px;

}

.inner-div .div-head-default{
    color:black;
        padding: 1%;
    min-height:40px;
      
}

.inner-div{
        margin-bottom: 5px;
    border-radius: 5px 5px 0 0px;

   
}
.font-large{
      font-size: large;
}
.white-background{
    background-color:white;
}
.pad-15{
    padding:15px;
}
.pad-btm-5{
    padding-bottom:5px;
}
.marg-btm-5{
    margin-bottom:5px;
}


.marg-btm-3{
    margin-bottom:3px;
}

.pad-25{
    padding:25px;
}

.width-100{
    width:100%;
}
.color-blue2{
    color:#347AB6!important;
}
.color-gray{
        color:#848484!important;
}

.no-breakline{
    white-space: nowrap;
}
.cursor-pointer{
    cursor:pointer;
}
.text-rtl{
    direction:rtl;
    text-align:right;
}

.white-color{
    color:white;
}