
<ion-view cache-view="false" view-title="{{'Medical_Therapist_Reservation' | translate}}">

    <ion-content>

        <info-header-cmp info-text="headerInfoText"></info-header-cmp>
        <form class="reservation-form" name="Step3Form" novalidate="" >

            <div class="list">
                <!--<label class="item item-input panel item-floating-label select-style">
                    <span class="input-label" ng-class="{'has-input': Step3Form.Meeting_Address.$dirty}">{{'Meeting_Address'|translate}} </span>
                    <select class="" name="Meeting_Address" ng-model="form.Accompaniment_Location" message-id="Meeting_Address" valid-method="submit" validator="required" required-error-message="{{'Insert'|translate}} {{'Meeting_Address'|translate}}">
                        <option value="" hidden selected>{{'Meeting_Address'|translate}}</option>
                        <option value="Home">{{'Home'|translate}}</option>
                        <option value="Clinic">{{'Clinic'|translate}}</option>
                        <option value="Hospital">{{'Hospital'|translate}}</option>
                        <option value="Other">{{'Other'|translate}}</option>
                    </select>
                </label>
                <span id="Meeting_Address"></span>-->

                <label class="item item-input panel item-floating-label select-style">
                    <span class="input-label" ng-class="{'has-input': Step3Form.Direction_Type.$dirty}">{{'Current_Status'|translate}} </span>
                    <select class="" name="Direction_Type" ng-model="form.Current_Status" message-id="Current_Status" valid-method="blur" validator="required" required-error-message="{{'Insert'|translate}} {{'Current_Status'|translate}}">
                        <option value="" hidden selected>{{'Current_Status'|translate}}</option>
                        <option value="Standing">{{'Standing'|translate}}</option>
                        <option value="Sitting">{{'Sitting'|translate}}</option>
                        <option value="Lying">{{'Lying'|translate}}</option>
                    </select>
                </label>
                <span id="Current_Status"></span>
          
      
                <label class="item item-input panel item-floating-label " style="padding:6px 0 5px 0px;">
                    <span class="input-label" ng-class="{'has-input': true}">{{'Service_Options'|translate}}</span>
                    <label class="item item-input panel item-floating-label " style="margin: 0px 10px 0px 10px;">
                        <ion-checkbox class="checkbox-input-item " ng-model="form.Service_Options.Medical_Examination"><label style="padding-right: 18%;">{{'Medical_Examination'|translate}}</label></ion-checkbox>
                    </label>
                    <label class="item item-input panel item-floating-label" style="margin: 0px 10px 0px 10px;">
                        <ion-checkbox class="checkbox-input-item " ng-model="form.Service_Options.Shower"><label style="padding-right: 18%;">{{'Shower_Help'|translate}}</label></ion-checkbox>
                    </label>
                    <label class="item item-input panel item-floating-label" style="margin: 0px 10px 0px 10px;">
                        <ion-checkbox class="checkbox-input-item " ng-model="form.Service_Options.Stand_And_Move"><label style="padding-right: 18%;">{{'Stand_And_Move_Help'|translate}}</label></ion-checkbox>
                    </label>
                    <label class="item item-input panel item-floating-label" style="margin: 0px 10px 0px 10px;">
                        <ion-checkbox class="checkbox-input-item " ng-model="form.Service_Options.Supervision"><label style="padding-right: 18%;">{{'Supervision'|translate}}</label></ion-checkbox>
                    </label>
                    <label class="item item-input panel item-floating-label" style="margin: 0px 10px 0px 10px;">
                        <ion-checkbox class="checkbox-input-item " ng-model="form.Service_Options.Shopping"><label style="padding-right: 18%;">{{'Shopping_Help'|translate}}</label></ion-checkbox>
                    </label>
                </label>
          </div>

                <button validation-submit="Step3Form" ng-click="continueToStep3()" class="button button-full next-btn button-positive">
                    <span class="">{{'Continue' | translate}}</span>
                </button>

</form>
    </ion-content>
</ion-view>
