<div class="confirm-phone-popup confirm-sending-reservation" diir="rtl">
    <div class="row title text-center">
        <div class="col phone_number">
            {{'You_Selected_Ambulance' | translate}} {{whiteLabelOffer.name}}
        </div>
    </div>


    <div class="row text-center">
        <div class="col phone_number">
            &#8362;{{whiteLabelOffer.price}}  {{'Reservation_Price'| translate}} 
        </div>
    </div>

    <div class="row buttons-container">
        <div class="col-50">
            <button class="popup-btn button   button-positive" ng-click="myPopup.close();">{{'Back'| translate}}</button>
        </div>
        <div class="col-50">
            <button class="popup-btn button   button-positive" ng-click="myPopup.close();approveReservation(whiteLabelOffer);">{{'I_Confirm'| translate}}</button>
        </div>

    </div>
</div>