
<ion-view view-title="הזמנת אמבולנס פרטי">

    <ion-content>


        <form class="reservation-form" name="StepForm" novalidate="" ng-submit="signIn(authorizationForm)">

            <div class="list">
                <label class="item item-input panel item-floating-label select-style">
                    <span class="input-label">{{'Direction_Type'|translate}} :</span>
                    <select class="" name="Direction_Type" ng-model="form.Direction_Type">
                        <option value="" hidden selected>{{'Direction_Type'|translate}}</option>
                        <option value="One_Way">{{'One_Way'|translate}}</option>
                        <option value="Two_Way">{{'Two_Way'|translate}}</option>

                    </select>
                </label>


                <label class="item item-input panel item-floating-label">
                    <span class="input-label">{{'Weight'|translate}} :</span>
                    <input placeholder="{{'Weight'|translate}}" type="text" name="Weight" ng-model="form.Weight" ng-minlength="2" ng-maxlength="20" message-id="message" validator="required">
                </label>


                <label class="item item-input panel item-floating-label select-style">
                    <span class="input-label">{{'Need_Help_With_Stairs'|translate}} :</span>
                    <select class="" name="Direction_Type" ng-model="form.Need_Help_With_Stairs">
                        <option value="" hidden selected>{{'Need_Help_With_Stairs'|translate}}</option>
                        <option value="Yes">{{'Yes'|translate}}</option>
                        <option value="No">{{'No'|translate}}</option>

                    </select>
                </label>

          </div>

                <button  ng-click="continueToStep3()" class="button button-full next-btn button-positive">
                    <span class="">{{'המשך' | translate}}</span>
                </button>

</form>
    </ion-content>
</ion-view>
