
.distance-price .items .item-header{
    background-color:#54a6de;
    color:white;
    min-height:40px;
}
.distance-price  .item-input  input {
    text-align:center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 220px;
    -moz-box-flex: 1;
    -moz-flex: 1 220px;
    -ms-flex: 1 220px;
    flex: 1 220px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    width: 100%;
}
.distance-price .panel {
    font-size: calc(0.75em + 2vmin);
    background-color: #f7fbfc;
    width: 100%;
       background-color: #f7fbfc;
}

.distance-price .inner{
     color: #3279b9;
         padding: 1% 1% 2% 1%;
         margin-top: 20px;
}
.item-input {
    overflow: unset!important;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    border: 0;
    display: block;

    padding-left: 0;
    height: 34px;
    color: #111;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;

}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.first-block{
margin-top: 10px;
padding-left:0;
padding-right:0;
}

.distance-price  .plus-min{
    border:0!important;
        color: #3279b9;
}

.distance-price  .row-eq-height .column{
    min-height:55px;
}

.distance-price  .value-box{
    text-align:center;
}

.input-km-text:after {
 /*position: relative;
    text-align: center;
    content: 'ק"מ';
    display: block;
    margin-top: -30px;
    margin-right: 53px;*/

}
.distance-price .input-with-km{
    display:flex;
        padding: 1%;
}
.distance-price .input-with-km input
{
            width: 100%;
             background-color: #f7fbfc;
                 color: #3279b9;
}

.distance-price .input-with-km .value-input{

    text-align:left!important;
    direction:ltr!important;
}
.distance-price .input-with-km .static-text-input{
    padding-right:5px;
    text-align:right!important;
}
 input[type="text"]:focus{
  border-width:0 ;

  outline: 0 none;
}
 .add-drive-price{
          max-width: 200px;
   
 }
 .inValid-Background{
     background-color:red!important;
 }