
<div class="login-page">

    <div class="row" style="padding-top: 6%;">
        <div class="col-lg-4 col-lg-offset-4">
            <img src="../img/general-logo.png" width="60%" class="user-avatar" />

            <form role="form">
                <div class="form-content login-form">
                    <div ng-show="!isForgotPassword" class="form-group inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input type="password" class="form-control input-underline input-lg" ng-model="resetPassForm.Password" id="" placeholder="{{'Password' | translate}}">
                    </div>
                    <div ng-show="!isForgotPassword" class="form-group inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input type="password" class="form-control input-underline input-lg" ng-model="resetPassForm.ConfirmPassword" id="" placeholder="{{'Confirm_Password' | translate}}">
                    </div>
                </div>
                <a  class="btn rounded-btn" ng-click="ResetPassword()">
                    <span>{{ 'Reset' | translate}}</span>
                </a>
              
            </form>
        </div>
    </div>
</div>