
<ion-view view-title="הזמנת אמבולנס פרטי">

    <ion-content>

        <info-header-cmp info-text="headerInfoText"></info-header-cmp>
        <form class="reservation-form" name="Step2Form" novalidate="" ng-submit="signIn(authorizationForm)">

            <div class="list">

                <label class="item item-input panel item-floating-label select-style">
                    <span class="input-label" ng-class="{'has-input': Step2Form.Ambulance_Type.$dirty}">{{'Ambulance_Type'|translate}} </span>
                    <select class="" name="Ambulance_Type" ng-model="form.Ambulance_Type" message-id="Ambulance_Type" valid-method="blur" validator="required"  required-error-message="{{'Insert'|translate}} {{'Ambulance_Type'|translate}}">
                        <option value="" hidden selected>{{'Ambulance_Type'|translate}}</option>
                        <option value="Private_Ambulance">{{'Private_Ambulance'|translate}}</option>
                        <option value="ICU_Ambulance">{{'ICU_Ambulance'|translate}}</option>

                    </select>
                </label>
                <span id="Ambulance_Type"></span>
                <label class="item item-input panel item-floating-label">
                    <span class="input-label">{{'From_Address'|translate}} </span>
                    <input  g-places-autocomplete placeholder="{{'From_Address'|translate}}" type="text" name="From_Address" ng-model="form.From_Address" message-id="From_Address" valid-method="submit" validator="required"  required-error-message="{{'Insert'|translate}} {{'From_Address'|translate}}">
                </label>
                <span id="From_Address"></span>
                <label class="item item-input panel item-floating-label">
                    <span class="input-label">{{'To_Address'|translate}} </span>
                    <input  g-places-autocomplete force-selection="true" placeholder="{{'To_Address'|translate}}" type="text" name="To_Address" ng-model="form.To_Address" message-id="To_Address" valid-method="submit" validator="required"  required-error-message="{{'Insert'|translate}} {{'To_Address'|translate}}">
                </label>
                <span id="To_Address"></span>
                <date-time-cmp date="form.Date" time="form.Time"></date-time-cmp>

            </div>

            <button validation-submit="Step2Form" ng-click="continueToStep3()" class="button button-full next-btn button-positive">
                <span class="">{{'Continue' | translate}}</span>
            </button>

        </form>
    </ion-content>
</ion-view>
