<ion-view view-title="{{'LogIn' | translate}}">
    <ion-content class="terms-and-conditions">



        <div class="row">
            <div class="col ">
                    <div class=" welcome-text text-center">
                       <h4> ברוכים הבאים אל GET AMBULANCE</h4>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col ">
                    <div class="col text-center">
                        <img src="../www/img/general-logo.png" class="logo-img" />                   
                     </div>
            </div>
        </div>
        <div class="row container">
            <div class="col ">
                <div class="terms-and-conditions-text text-center">
                    <div>
                        הקש/י על מאשר/ת
                    </div>
                    <div>
                       <span>כדי לקבת את <span class="link">תנאי השימוש</span> של GET Ambulance</span>
                    </div>
                </div>
            </div>
        </div>
            <div class="col btn-container ">
                <div class="col  text-center">
                    <button ng-click="goToLogin()" class="button button-full next-btn button-positive">
                        <span class="">{{'Accept_Terms_And_Conditions' | translate}}</span>
                    </button>
                </div>
        </div>


    </ion-content>
</ion-view>
