<div ng-if="!$ctrl.isCustomEn" class="row info-header">
    <div class="col-10">
        <img src="../www/img/info-green.svg" class="info-green-svg info-img"  />
    </div>
    <div class="col-60">
        <span class="info-text">{{ $ctrl.infoText | translate}}</span>
    </div>
    <div class="col-30 text-center">
        <img src="../www/img/general-logo.png" class="info-green-svg general-logo" />
    </div>
</div>
<div ng-if="$ctrl.isCustomEn" class="row info-header">
    <div class="col-100 text-center">
        <img src="../www/img/general-logo.png" class="info-green-svg general-logo" />
    </div>
</div>