<div class="services-settings" style="height: 100%;width: 100%;">


    <!--<supported-area-cmp area-data="areaData"></supported-area-cmp>
    <button ng-click="UpdateSupportedAreas()">{{'Add_Supported_Area' | translate}} </button>-->
    <div class="col-lg-12 price-cmp ">
        <div ng-repeat="service in supportedServices">

     
        <!--
            <div class="row  item-header min-height-40 items-align-center cursor-pointer text-center">
                <div class="col-lg-10">
                    <span>{{'Service_Settings' | translate}} {{service.Name | translate}}</span>
                </div>
            </div>
        </div>-->
            <div class="items">
                <div class="row item-header min-height-40 items-align-center cursor-pointer text-center">
                    <div class="col-lg-10">
                        <span>{{'Service_Settings' | translate}} {{service.Name | translate}}</span>
                    </div>
                    <div class="col-lg-1">
                        <span ng-click="deleteService(service)">{{'Delete' | translate}}</span>
                    </div>
                </div>
            </div>
                <div class="row" style="margin-top:3px;">
                    <div class="col-lg-3 panel panel-default">
                        <div class="row white-background panel-heading">
                            <div class="col-lg-12" style="padding: 0;text-align: center;">
                                {{'Set_Price' | translate}} {{service.Name | translate}}
                            </div>
                        </div>

                        <div class="row white-background panel-body">
                            <div class="col-lg-12 text-center ">
                                <img class="cat-img" src="../img/{{service.Name}}-prices.png" />
                            </div>
                            <div class="col-lg-12 center-text" style="text-align: center;">
                                <span ng-switch="service.Type">
                                    <span ng-switch-when="1">
                                        <a ui-sref="dashboard.ambulance-prices" style="max-width:60%;" class="btn show-reservation-btn">{{'Update_Price'| translate}}</a>
                                    </span>
                                    <span ng-switch-when="2">
                                        <a ui-sref="dashboard.medical-therapist-prices" style="max-width:60%;" class="btn show-reservation-btn">{{'Update_Price'| translate}}</a>
                                    </span>
                                    <span ng-switch-when="3">
                                        <a ui-sref="dashboard.stairs-assistance-prices" style="max-width:60%;" class="btn show-reservation-btn">{{'Update_Price'| translate}}</a>
                                    </span>
                                    <span ng-switch-when="4">
                                        <a ui-sref="dashboard.icu-ambulance-prices" style="max-width:60%;" class="btn show-reservation-btn">{{'Update_Price'| translate}}</a>
                                    </span>
                                    <span ng-switch-when="5">
                                        <a ui-sref="dashboard.ambulance-prices" style="max-width:60%;" class="btn show-reservation-btn">{{'Update_Price'| translate}}</a>
                                    </span>

                                </span>
                               
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-3 panel panel-default" style=" margin-right:15px;">
                        <div class="row white-background panel-heading">
                            <div class="col-lg-12" style="padding: 0;text-align: center;">
                                {{'Set_Supported_Area' | translate}} {{service.Name | translate}}
                            </div>
                        </div>

                        <div class="row white-background panel-body">
                            <div class="col-lg-12 text-center ">
                                <img class="cat-img" src="../img/{{service.Name}}-map.png" />
                            </div>
                            <div class="col-lg-12 center-text" style="text-align: center;">
                                <a ui-sref="dashboard.supported-area({type:service.Type})" style="max-width:60%;" class="btn show-reservation-btn">{{'Update_Area'| translate}}</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        <br />
       
        <div ng-show="offerServices.length>0">

            <div class="items">
                <div class="row  item-header min-height-40 items-align-center cursor-pointer text-center">
                    <div class="col-lg-10">
                        <span>{{'Additional_Services' | translate}}</span>
                    </div>
                </div>
            </div>




            <div class="row" style="margin-top:3px;">
                <div ng-repeat="service in offerServices" class="col-lg-3 panel panel-default">
                    <div class="row white-background panel-heading">
                        <div class="col-lg-12" style="padding: 0;text-align: center;">
                            {{'Service' | translate}} {{service.Name | translate}}
                        </div>
                    </div>

                    <div class="row white-background panel-body">
                        <div class="col-lg-12 text-center ">
                            <img class="cat-img" src="../img/{{service.Name}}-plus.png" />
                        </div>
                        <div class="col-lg-12 center-text" style="text-align: center;">
                            <button ng-click="AddSupportedServices(service)" style="max-width:60%;" class="btn show-reservation-btn">{{'Add_Service'| translate}}</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
      

    </div>


</div>
