<div class="services-settings" style="height: 100%;width: 100%;">


    <!--<supported-area-cmp area-data="areaData"></supported-area-cmp>
    <button ng-click="UpdateSupportedAreas()">{{'Add_Supported_Area' | translate}} </button>-->
    <div class="col-lg-12 price-cmp ">
        <div class="items">
            <div class="row  item-header min-height-40 items-align-center cursor-pointer">
                <div class="col-lg-10">
                    <span>{{'Price_Drice_Addition' | translate}}</span>
                </div>
            </div>
        </div>
     
        <div class="row" style="margin-top:3px;">
            <div class="col-lg-3 panel panel-default">
                <div class="row white-background panel-heading" >
                    <div class="col-lg-12" style="padding: 0;text-align: center;">
                        {{'Update_Private_Ambulance_Prices' | translate}}
                    </div>
                </div>
            
                <div class="row white-background panel-body">
                    <div class="col-lg-12 text-center ">
                        <img class="cat-img"  src="../img/meherambulanceprate.png" />
                    </div>
                    <div class="col-lg-12 center-text" style="text-align: center;">
                        <a ui-sref="dashboard.ambulance-prices" style="max-width:60%;" class="btn show-reservation-btn">{{'Update_Price'| translate}}</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 panel panel-default" style="  margin-right:15px;">
                <div class="row white-background panel-heading">
                    <div class="col-lg-12" style="padding: 0;text-align: center;">
                        {{'Update_ICU_Ambulance_Prices' | translate}}
                    </div>
                </div>
                <div class="row white-background panel-body">
                    <div class="col-lg-12 text-center ">
                        <img class="cat-img" src="../img/mehertebolnemratz.png" />
                    </div>
                    <div class="col-lg-12 center-text" style="text-align: center;">
                        <a ui-sref="dashboard.supported-area" style="max-width:60%;" class="btn show-reservation-btn">{{'Update_Price'| translate}}</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 panel panel-default" style=" margin-right:15px;">
                <div class="row white-background panel-heading">
                    <div class="col-lg-12" style="padding: 0;text-align: center;">
                        {{'Update_MedicalTherapist_Prices' | translate}}
                    </div>
                </div>
                <div class="row white-background panel-body">
                    <div class="col-lg-12 text-center ">
                        <img class="cat-img" src="../img/mehermelaveh.png" />
                    </div>
                    <div class="col-lg-12 center-text" style="text-align: center;">
                        <a ui-sref="dashboard.medical-therapist-prices" style="max-width:60%;" class="btn show-reservation-btn">{{'Update_Price'| translate}}</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 panel panel-default" style=" margin-right:15px;">
                <div class="row white-background panel-heading">
                    <div class="col-lg-12" style="padding: 0;text-align: center;">
                        {{'Update_StairsAssistance_Prices' | translate}}
                    </div>
                </div>
                <div class="row white-background panel-body">
                    <div class="col-lg-12 text-center ">
                        <img class="cat-img" src="../img/mehermmadrgot.png" />
                    </div>
                    <div class="col-lg-12 center-text" style="text-align: center;">
                        <a ui-sref="dashboard.stairs-assistance-prices" style="max-width:60%;" class="btn show-reservation-btn">{{'Update_Price'| translate}}</a>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="items">
            <div class="row  item-header min-height-40 items-align-center cursor-pointer">
                <div class="col-lg-10">
                    <span>{{'Update_Supported_Areas' | translate}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center ">
                <a ui-sref="dashboard.supported-area">
                    <img class="cat-img" src="../img/ezor-sherot.png" />
                </a>
            </div>
        </div>
      

    </div>


</div>
