.services-settings .panel-default>.panel-heading{
    background-color:white!important;
}

.services-settings .cat-img{
    width:80%;padding:10px;    height: 150px;
}
.services-settings .panel{
  

}