.reservations-list .list-container{
    margin-top:5%;
        color: azure;
}

 .pending-background{
    background-color:#efad4d;
}
 .ignored-background{
    background-color:#e84e4e;
}
 .accepted-background{
    background-color:#6ab66b;
}



.reservations-list .col-container{
       border-left: solid 1px;
    border-left-color: beige;
}
 

.reservations-list .list-row{
       margin-bottom: 15px!important;
  
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.reservations-list .list-row .arrow{
        margin-top: 5px;
}