
<ion-view cache-view="false" view-title="{{titleText | translate}}">

    <ion-content>

        <info-header-cmp info-text="headerInfoText"></info-header-cmp>
        <form class="reservation-form" name="Step1Form" novalidate="" ng-submit="signIn(authorizationForm)">

            <div class="list">
             

                <label class="item item-input panel item-floating-label">
                    <span class="input-label">{{'Full_Name'|translate}} :</span>
                    <input placeholder="{{'Full_Name'|translate}}" type="text" name="Full_Name" ng-model="form.Full_Name" message-id="Full_Name" valid-method="blur" validator="required,minlength=2,maxlength=50">
                </label>
                <span id="Full_Name"></span>

                <label class="item item-input panel item-floating-label">
                    <span class="input-label">{{'Id_Number'|translate}} :</span>
                    <input placeholder="{{'Id_Number'|translate}}" type="number" name="Id_Number" ng-model="form.Id_Number" message-id="Id_Number" valid-method="blur" validator="required,number,minlength=9,maxlength=9">
                </label>
                <span id="Id_Number"></span>

                <label class="item item-input panel item-floating-label">
                    <span class="input-label">{{'Phone_Number'|translate}} :</span>
                    <input placeholder="{{'Phone_Number'|translate}}" type="tel" name="Phone_Number" ng-model="form.Phone_Number" message-id="Phone_Number" valid-method="blur" validator="required,number,minlength=10,maxlength=10">
                </label>
                <span id="Phone_Number"></span>

                <label class="item item-input panel item-floating-label">
                    <span class="input-label">{{'Age'|translate}} :</span>
                    <input placeholder="{{'Age'|translate}}" type="number" name="Age" ng-model="form.Age"  message-id="Age" valid-method="blur" validator="required,number,minlength=2,maxlength=2">
                </label>
                <span id="Age"></span>
                </div>

         

            <button validation-submit="Step1Form" ng-click="continueToStep2()" class="button button-full next-btn button-positive">
                <span class="">{{'Continue' | translate}}</span>
            </button>

        </form>
    </ion-content>
</ion-view>
