.item-radio .item-content{
    padding-right: 10px;
}
.item-radio .radio-icon{
        left: 0;
        right:unset;
}
.item-radio input:checked + .radio-content .item-content{
    background:unset;
}
.reservation-form{
    margin-top: 2%;
}
.reservation-form .panel{
font-size: calc(0.75em + 2vmin);
    background-color: #f7fbfc;
    border: 1px solid transparent;
    border-radius: 40px;
    /*-webkit-box-shadow: 1px 5px 5px rgba(0,0,0,0.2);
    box-shadow: 1px 5px 5px rgba(0,0,0,0.2);*/
    position: relative;
        margin: 9% auto 0 auto;
        width: 81%;
         min-width: 81%;
}
.item-floating-label .input-label{
        position: absolute!important;
}

.item-floating-label .input-label.has-input{
    top: -32px!important;
        color: #57caff;
            margin: 0% auto 0 auto;
    width: 100%;
}
.item-input{
    overflow:unset!important;
}
.reservation-form .next-btn{
       width: 40%;
    margin: auto;
    border-radius: 5px;
    background-color:#39b54a;
}

.form-header tr td{
    vertical-align: middle;
}

.item-input.date-time{
    min-width:45%;
        margin-top: 17%;
}
.checkbox-input-item{
        border-color: unset;
    background-color:  unset;
    color: unset;
    position: unset;
    z-index: 2;
    display: block;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: unset;
    font-size: 16px;
}
.col-30{
    width:30%;
}

.platform-android .checkbox-platform input:after, .platform-android .checkbox-platform .checkbox-icon:after, .checkbox-square input:after, .checkbox-square .checkbox-icon:after{
    left: 40%;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
        background: white;
    border-color: white;
}

form div span p{
    margin: 0% auto 0 auto;
    width: 72%;
}
.item-input.has-error{
border: solid 1px #e74e4e!important;
}

p.validation-invalid{
    color:#e74e4e;
}
label  input{
        text-align: center!important;
    font-size: larger!important;
}
label  select{
        text-align: center!important;
    font-size: larger!important;
}

.reservation-form .list{
        margin-bottom: 15%!important;
}

.reservation-form .date-time input{
        padding-right: 0px!important;
    line-height: 100%!important;
               background-color: inherit!important;
    border: 0!important;
}

.reservation-form .item-input.date-time{
    padding: 6px 0 5px 0!important;
}