/* Empty. Add your own CSS if you like */

a i{
        color: white;
}
 body{

 }
 a{
         color: inherit;
    text-decoration: none;
 }
.float-left {
  float: left !important;
}
ion-content div{
    direction:rtl;
}
.bar.bar-stable .title{
    right:0!important;
    left:0!important;
}
ion-content.home>div{
    direction:rtl;
    transform:inherit!important;

}
.float-right {
  float: right !important;
}
#fhm_page .scroll,
.fhm_container {
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

.fhm_row {
  /* position: absolute; */
  height: 49.9%;
  left:0;
  right:0;

  clear:both;
}
.fhm_item {
    text-align:center;
  height: 100%;
  width:49.95%;
  background-color: #00FF00;
  border: 1px solid #FFFFFF;
  float:left;
      color: #fff;
          /*border-radius: 45px;*/
}
.fhm_item i{
    margin-top: 50%;
}
    
.get-ambulance-fhm{
    background-color: #1b4888;
}
.stairs-assistant-fhm{
   background-color: #00a25f;
}
.therapist-assistant-fhm{
   background-color: #1d919e;
}

.general-assistant-fhm{
   background-color: #ffc900;
}

.full-width{
    width:100%!important;
}

/*reservation-form*/
.current-place{

}
.address label span{
     width: 20%;
}
.address  label input{
    /*border-bottom:solid 1px;
         border-color: rgba(0,0,0,0.12);*/
}
.date label span{
     width: 20%;
}
.date label input{
    border-bottom:solid 1px;
         border-color: rgba(0,0,0,0.12);
}
.current-place ul{
    /*display:flex;*/
}
.current-place ul li{
 width:100%;
}
.current-place ul .item-checkbox .checkbox{
        right: inherit!important;
            direction: ltr;
}
.title {
    text-align:center!important;
}
.title.header-item{
    text-align:center!important;
}
.item-radio{
    direction:ltr;
}
.item{
        border-style: hidden;
}
.bar{
    height:48px;
}
.menu .bar-header{
    display:block;
}
ion-list .list{
    padding-top:25%!important;
}
aside .item-complex .item-content, .item-radio .item-content{
    padding: 10px 17px 10px 0;
    margin-top: 15px;
}
.ltr aside .item-complex .item-content, .item-radio .item-content{
    padding: 10px 0 10px 17px;
}
aside .item-complex.active  .item-content, .item-radio.active .item-content{
       border-right: solid  #e05254!important;
}
.item.active.item-complex > .item-content, .item.activated.item-complex > .item-content, .item-complex.active .item-content.item-complex > .item-content, .item-complex.activated .item-content.item-complex > .item-content, .item .item-content.active.item-complex > .item-content, .item .item-content.activated.item-complex > .item-content{
    background-color: #213246;
}
aside .item-complex .item-content .active{
    
}
.bar.bar-stable .title{
    color:white;
}
.bar.bar-stable{
    border:none!important;
}
[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar{
    background-color:#263650;
}
[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar{
    background-color:#263650;
}
.bar-stable .button.button-clear{
    color:white;
}
select{
     color:dimgray;
}
.select-style {
   
    border: 1px solid #ccc;

    border-radius: 3px;
    overflow: hidden;
   

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 5% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
                text-align-last: center;
}

.select-style select:focus {
    outline: none;
}

.width-100{
    width:100%!important;
    padding:0;
    margin:0;
}

input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
        background-color: unset; 
}

.button-full{

       width: 70%!important;
    margin: auto!important;
    border-radius: 40px!important;
    background-color:#56cbff!important;
}

.margin-top-15{
    margin-top:15%;
}

.input-label{
    max-width:100%!important;
}

.platform-android .checkbox-platform input:before, .platform-android .checkbox-platform .checkbox-icon:before, .checkbox-square input:before, .checkbox-square .checkbox-icon:before{
    border-color:#57caff;
}
.checkbox input:after, .checkbox-icon:after{
    border: 1px solid #57caff;
        border-top: 0;
    border-right: 0;
}
.checkbox input:before, .checkbox-icon:before{
    background:white;
}
.platform-android .checkbox-platform input:after, .platform-android .checkbox-platform .checkbox-icon:after, .checkbox-square input:after, .checkbox-square .checkbox-icon:after{
   border-color:#57caff;
}
.arriveDate, .arriveTime  {
  -webkit-appearance: none;
  -moz-appearance: none;
  background:red;
  direction:rtl;
}
.platform-ios input[type="datetime-local"], .platform-ios input[type="date"], .platform-ios input[type="month"], .platform-ios input[type="time"], .platform-ios input[type="week"], .platform-android input[type="datetime-local"], .platform-android input[type="date"], .platform-android input[type="month"], .platform-android input[type="time"], .platform-android input[type="week"]{
    background-color:red!important;
    border:solid 2px blue;
}

.state-container{
    margin-top:10px;
}
.margin-auto{
    margin: auto;
}
.loading-container .loading{
    background-color:unset!important;
}
.loader-logo{
    width:100%;
    height: 240px;
    min-width:375px;
}
.col-100{
        -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
p.errorMessage{
        margin: 0% auto 0 auto;
    width: 72%;
    color: #e74e4e;
}
.div-flex{
    display:flex;
}
.bar{
    background-image:none!important;
}
.font-bold{
    font-weight:bold;
}


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
    height:auto!important;
    line-height:inherit!important;
}

/*.platform-ipad div.scroll{
    -webkit-transform: translate3d(0px, 30%, 0px) scale(1)!important;
}*/

.dir-rtl{
    direction:rtl!important;
}
.dir-ltr{
    direction:ltr!important;
}
.blue-color{
    color: #57caff;
}
.pac-item{
    text-align:right!important;
}

.col-15{
        -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}

.ltr ion-content div{
        direction:ltr!important;
    }

    